[Desktop Entry]
Version=1.0
Type=Application
Name=JPEXS Free Flash Decompiler
Comment=Decompiler and editor of Flash SWF files
Exec=@PREFIX@/bin/ffdec
Icon=ffdec
Terminal=false
StartupNotify=false
Categories=Development;Network;Utility;WebDevelopment;Java;
MimeType=application/x-shockwave-flash;
